.bodycustum {
    background-color: #fff6da;
}
h1, h2 {
    font-family: 'Satisfy', cursive;
    color: red;
}
h3, p {
    & > a {
    font-size: 16px;
    color: green;
    font-family: 'Roboto', sans-serif;
    }
}
p li td {
    font-family: 'Roboto', sans-serif;
}

span {
    font-size: 12px;
}
.cadreBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &--lg {
        max-width: 780px;
        max-height: 170px;
    }
    & img {
        width: 100%;
        height: auto;
    }
}

.cadreImage {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
    &__size {
        width: 30%;
        height: 210px;
        &:hover {
        border: solid 1px #fff6da;
        }
        &--lands {
            width: 100%;
            height: auto;
        }
        &--portrait {
            height: 100%;
        }
    }
}

strong {
    font-style: italic;
}

.lh {
    line-height: 0.5;
}