.bodycustum {
    background-color: #fff6da;
}
h1 {
    font-family: 'Satisfy', cursive;
    color: red;
}
.cadreBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &--lg {
        max-width: 780px;
        max-height: 170px;
    }
    & img {
        width: 100%;
        height: auto;
    }
}

.cadreImage {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__size {
        width: 30%;
        height: 210px;
        &--lands {
            width: 100%;
            height: auto;
        }
        &--portrait {
            height: 100%;
        }
    }
}
